<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Management SPD</title>
    <link rel="icon" type="image/png" href="~/image/logo_robot___7_-removebg-preview.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

</head>
<body class="login-page">
    <main role="main">
        <div class="login-wrapper">
            <div class="login-logo">
                <img src="~/image/logo_baru.png" alt="Logo Perusahaan" />
            </div>
            <div class="login-container">
                @RenderBody()
            </div>
        </div>
    </main>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>